html {
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    margin: 0;
    padding: 0;
    border: 0;
}

/**
* Remove the margin in all browsers (opinionated).
*/
body {
    margin: 0;
}

/*  Root reset */
.style-elements {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
    line-height: 1.2; /* :NOTE: ADDED BY style-elements LIBRARY.  
                         1.2 was chosen because it's the smallest line-height
                         that does not chop off the tail of a 'g'
                      */
}

/* General style elements reset */
.el {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    border-style: solid;
    font-size: 100%; 
    font: inherit;
    box-sizing: border-box;
}


/*  Nodes that still have style meaning in style-elements */
em.el {
    font-style: italic;
}
b.el, strong.el {
    font-weight: bolder;
}
strike.el {
    text-decoration: line-through;
}
u.el {
    text-decoration: underline;
}

a.el {
    text-decoration: none;
    color: inherit;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
img.el {
    border-style: none;
}

sub.el,
sup.el {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub.el {
    bottom: -0.25em;
}

sup.el {
    top: -0.5em;
}
